In [4]:
from extractor import Extractor
import pandas as pd

In [6]:
start = '2006-01-01'
end = '2006-12-31'

api_key = "39f6154b24dfb7637468518b8d57d542"
lat = -23.555771
lon = -46.639557

extractor = Extractor(lat, lon, start, end, api_key)
extractor.start_extraction()
df = extractor.to_df

filename = f"{start}_{end}.csv"
df.to_csv(f"../data/{filename}", index=False)

c:\Users\cedua\CDIA - PUCSP\PROJETO 5º SEMESTRE (SAVINO)\WeatherPrediction\src\extractor.py:14: FutureWarning: The behavior of .astype from datetime64[ns] to int32 is deprecated. In a future version, this astype will return exactly the specified dtype instead of int64, and will raise if that conversion overflows.
  self.dates_to_collect = pd.date_range(start, end, freq='D').astype(int) // 10 ** 9

Collecting data from 2006-01-01 to 2006-12-31 ...

100%|██████████| 365/365 [06:49<00:00,  1.12s/it]

In [6]:
df= pd.read_csv("C:/Users/cedua/CDIA - PUCSP/PROJETO 5º SEMESTRE (SAVINO)/WeatherPrediction/data/2011-01-01_2011-12-31.csv")
df.tail()

,dt,sunrise,sunset,temp,feels_like,pressure,humidity,dew_point,clouds,visibility,wind_speed,wind_deg,weather,rain,wind_gust
349,1323993600,1323936867,1323985734,22.43,22.50,1009,68,16.24,40,10000,3.6,60,"[{'id': 211, 'main': 'Thunderstorm', 'descript...",NaN,NaN
350,1324080000,1324023289,1324072168,22.62,22.06,1011,43,9.42,0,10000,3.6,320,"[{'id': 800, 'main': 'Clear', 'description': '...",NaN,NaN
351,1324166400,1324109712,1324158602,22.31,22.06,1012,56,13.12,0,10000,0.0,0,"[{'id': 800, 'main': 'Clear', 'description': '...",NaN,NaN
352,1324252800,1324196136,1324245035,21.60,21.75,1012,74,16.77,75,10000,4.6,30,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN
353,1324339200,1324282561,1324331467,23.13,22.80,1013,50,12.15,0,10000,3.6,100,"[{'id': 800, 'main': 'Clear', 'description': '...",NaN,NaN

In [32]:
# #checking null values
# df.isnull().sum()

In [33]:
# #checking duplicate data
# df['dt'].drop_duplicates()